// ==========================================================================
// Base / Fonts
// ==========================================================================

@use "../utilities/variables" as *;

@font-face {
    font-family: $primary-font;
    src: url("#{$font-directory}geist-regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}