// ==========================================================================
// Base / Fonts
// ==========================================================================

@font-face {
    font-family: "Geist";
    src: url("../assets/fonts/geist-regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}